.cart {
  text-decoration: none;
  color: @black;
  font-weight: 700;
  .font(17px; 24px);
  margin: 0;
  position: relative;

  &:active {
    color: rgba(@black, 0.3);
  }

  &:hover {
    color: rgba(@black, 0.6);
  }

  &:focus {
    outline: @green-light auto 2px;
    opacity: 1;
  }

  &:hover .cart__icon {
    opacity: 1;
    fill: @green;
  }

  &:active .cart__icon {
    opacity: 0.3;
    fill: @green;
  }
}

.cart__icon {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 2px;

  @media (min-width: @tablet-width) {
    left: -12px;
    top: 1px;
  }
}

.cart__text {
  margin: 0;
}
