.category {
  box-sizing: border-box;
}

.category--interior {
  background-color: @green;
}

.category--toys {
  background-color: @green-dark;
}

.category__link {
  text-decoration: none;
  font-weight: 700;
  .font(19px; 24px);
  color: @white;
  width: 260px;
  min-height: 103px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: inherit;
    min-height: 119px;
    padding-left: 36px;
    padding-right: 36px;
    justify-content: space-between;
  }
}

.category__link--interior::after {
  content: url("../img/interior.svg");
  width: 40px;
  height: 62px;
  margin-left: 30px;
}

.category__link--toy::after {
  content: url("../img/toy.svg");
  width: 60px;
  height: 60px;
  margin-left: 30px;
}
