.categories {
  @media (min-width: @tablet-width) {
    background-color: @grey-snow;
    position: relative;
  }
}

.categories::after {
  @media (min-width: @tablet-width) {
    height: 24px;
    width: 100vw;
    content: "";
    background-image: url("../img/zigzag_fill_desktop.svg");
    background-repeat: repeat;
    position: absolute;
    bottom: -11px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/zigzag-new-fill-desktop.svg");
    height: 34px;
    bottom: -15px;
  }
}

.categories__wrapper {
  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.categories__list {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
