.contacts__wrapper {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey-dark;
}

.contacts__email-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey-dark;
  text-decoration: none;
  border-bottom: 1px solid @green-light;
}
