.modal-overlay {
  display: none;
  background-color: rgba(@white, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &--show {
    display: block;
  }
}

.modal {
  display: none;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 100px;
  left: auto;
  right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 29px;
  padding-bottom: 46px;
  border: 1px solid @grey-silver;
  box-shadow: 0 5px 10px rgba(@black, 0.25);
  text-align: center;
  background-color: @white;
  z-index: 101;

  &--show {
    display: block;
  }

  @media (min-width: @tablet-width) {
    width: 566px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 200px;
  }
}

.modal__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}

.modal__title.title {
  @media (min-width: @tablet-width) {
    .font(30px; 57px);
  }
}

.modal__text {
  .font(15px; 30px);
  color: @grey-dark;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.modal__size-wrapper {
  margin: 0 auto;
  margin-bottom: 31px;
  width: 260px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}

.modal__radio-label::before {
  display: block;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  padding-top: 17px;
  padding-bottom: 17px;
  .font(17px; 16px);
  font-weight: 700;
  color: @grey-dark;
  border: 2px solid rgba(@grey-dark, 0.1);
  text-transform: uppercase;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 112px;
  }
}

.modal__radio-label--s::before {
  content: "s";
}

.modal__radio-label--m::before {
  content: "m";
}

.modal__radio-label--l::before {
  content: "l";
}

.modal__radio-size:checked + .modal__radio-label::before,
.modal__radio-size:checked:hover + .modal__radio-label::before,
.modal__radio-size:active + .modal__radio-label::before {
  border-color: @green-light;
}

.modal__radio-size:hover + .modal__radio-label::before {
  border-color: rgba(@grey-dark, 0.3);
}

.modal__button {
  width: 100%;
  background-color: @green;
  color: @white;
  border: none;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}

.modal__button.button {
  .font(17px; 16px);
}
