.order__wrapper {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.order__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @grey-dark;
}

.order-form__fieldset {
  outline: 0;
}

.order-data__legend,
.order-data__contact-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @green;
}

.order-data__radio-label,
.order-data__checkbox-label,
.order-data__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}

.order-data__textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}

.order-data__textarea::placeholder {
  opacity: 0.3;
}

.order-data__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: @black;
  opacity: 0.3;
}

.order-form__small-text {
  font-size: 14px;
  line-height: 16px;
}
