.page-footer {
  background-color: @grey;
}

.page-footer__wrapper {
  min-width: 320px;
  box-sizing: border-box;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 47px;
    padding-bottom: 55px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  display: none;

  &:focus {
    outline: @green-dark auto 2px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 4px;
    display: block;
  }
}

.page-footer__logo:hover .logo__icon {
  fill: @green-puerto-rico;
}

.page-footer__logo:active .logo__icon {
  fill: @green-puerto-rico;
  opacity: 0.3;
}

.page-footer__social-list {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
  }
}

.page-footer__social-list .social__list {
  margin: 0 auto;
}

.page-footer__social-list::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    display: flex;
    justify-content: space-between;
    height: 1px;
    background-color: @grey-wisper;
    margin-top: 21px;
  }
}

.page-footer__copyright-wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
