.page-header {
  position: relative;
  min-width: 320px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    box-shadow: none;
  }
}

.page-header__wrapper {
  box-sizing: border-box;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 89px;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-header__logo-wrapper {
  box-sizing: border-box;
  min-height: 79px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 22px;
  box-shadow: 0 1px 0 0 @grey-light;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    min-height: 89px;
    box-shadow: none;
    border-bottom: 1px solid @grey-light;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    width: 20%;
    padding-left: 40px;
    border-bottom: none;
  }
}

.page-header__logo {
  &:focus {
    outline: @green-dark auto 2px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.page-header__logo.logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: absolute;
  right: 26px;
  top: 28px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__main-nav {
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    order: 3;
    align-self: stretch;
    width: 60%;
    padding-left: 50px;
    padding-top: 20px;
    background-color: @grey;
  }

  &--index {
    @media (min-width: @tablet-width) {
      background-color: @grey-snow;
    }
  }

  @media (min-width: @desktop-width) {
    order: 1;
    width: 40%;
    padding-left: 50px;
    padding-top: 0;
    background-color: @white;
  }
}

.page-header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    flex-wrap: wrap;
    border-bottom: 1px solid @grey-light;
    padding-right: 50px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    width: 40%;
    border-bottom: none;
  }
}

.page-header__bottom-wrapper {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    border-top: 1px solid @grey-light;
    background-color: @grey;
  }

  &--index {
    background-color: @grey-snow;
  }
}

.page-header__position-wrapper {
  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__extra-nav {
  display: none;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    display: block;
    order: 4;
    align-self: stretch;
    width: 60%;
    padding-left: 50px;
    padding-top: 20px;
  }
}

.page-header__text {
  font-weight: 400;
  .font(15px; 24px);
  color: @grey-dark;
  text-align: end;
  align-self: stretch;
  padding-right: 50px;
  padding-left: 26px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    order: 5;
    width: 40%;
  }
}

.page-header__text--align {
  order: 4;
  width: 40%;
  background-color: @grey;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__text--index {
  @media (min-width: @tablet-width) {
    background-color: @grey-snow;
  }
}
