.page-main {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-main__background-title-wrapper {
  background-color: @grey;
  border-top: 1px solid rgba(@black, 0.1);
}

.page-main__title-wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 152px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 153px;
  }
}

.page-main__title-wrapper--index-height {
  height: 283px;
  background-image: url("../img/main_background_mobile.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    min-height: 627px;
  }

  @media (min-width: @desktop-width) {
    min-height: 626px;
  }
}

.page-main__title-wrapper--height {
  min-height: 177px;

  @media (min-width: @tablet-width) {
    min-height: 226px;
  }
}

.page-main__title {
  text-align: center;
  vertical-align: top;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  //pixel perfect
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 615px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
