.page-main__title-wrapper {
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}

.page-main__title-wrapper--index-page {
  height: 280px;
  background-image: url("../../img/main_background_mobile.jpg");
  background-position: center -20px;
  background-repeat: no-repeat;
}

.page-main__title-wrapper--page {
  height: 177px;
  background-color: @grey;
}

.page-main__title {
  text-align: center;
  vertical-align: top;
  width: 260px;
}
