.page-main {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-main__background-title-wrapper {
  background-color: @grey-snow;
  border-top: 1px solid rgba(@black, 0.1);

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.page-main__background-title-wrapper--decoration {
  background-color: @grey;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.page-main__background-title-wrapper--decoration::after {
  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    height: 24px;
    width: 100vw;
    background-image: url("../img/zigzag_fill_desktop.svg");
    background-position: center;
    background-repeat: repeat;
    bottom: -3px;
  }

  @media (min-width: @desktop-width) {
    height: 34px;
    background-image: url("../img/zigzag_fill_form_desktop.svg");
  }
}

.page-main__title-wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.page-main__title-wrapper--index-align {
  height: 283px;
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 103px;
    min-height: 578px;
    background-image: url("../img/hero-desktop.jpg");
    background-size: 1150px;
    background-position-y: -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 104px;
    min-height: 577px;
    background-size: 1150px;
    background-position-y: -51px;
  }
}

.page-main__title-wrapper--align {
  min-height: 177px;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
    min-height: 186px;
  }

  @media (min-width: @desktop-width) {
    min-height: 219px;
  }
}

.page-main__title {
  text-align: center;
  vertical-align: top;
  width: 260px;
  .font(27px; 30px);
  color: @black;
  //pixel perfect
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 615px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
