.product-card__name-product-link {
  color: @black;
  text-decoration: none;
}

.product-card__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.product-card__list {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @grey-dark;
}

.product-card__item {
  display: inline;
}

.product-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
}
