.reviews {
  @media (min-width: @tablet-width) {
    padding-top: 51px;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.reviews::after {
  display: block;
  height: 6px;
  content: "";
  background-image: url("../img/zigzag-line.svg");
  background-position: center;
  background-repeat: repeat;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    height: 17px;
    background-image: url("../img/zigzag-line-desktop.svg");
    margin-top: 68px;
  }

  @media (min-width: @desktop-width) {
    height: 23px;
    background-image: url("../img/zigzag_middle_line_desktop.svg");
    margin-top: 67px;
  }
}

.reviews__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  padding-top: 27px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 83px;
    padding-bottom: 18px;
    background-image: url("../img/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
      background-size: 384px;
      background-position: -34px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    padding-left: 174px;
    padding-top: 78px;
    padding-right: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
      background-size: 350px;
      background-position: 0;
    }
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    width: calc(100% - 180px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.reviews__controls {
  display: flex;
  box-sizing: border-box;
  width: 260px;
  min-height: 52px;
  margin: 0 auto;
  margin-bottom: 38px;
  border: 1px solid @grey-light;

  @media (min-width: @tablet-width) {
    position: absolute;
    border: none;
    width: 174px;
    margin: 0;
    padding-top: 5px;
    justify-content: space-between;
    right: 50px;
    bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    right: 0;
    bottom: 100px;
  }
}

.reviews__button-control {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 129px;
  min-height: 50px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 9px;
  padding-left: 37px;
  background-color: @white;
  outline: 0;
  border: none;
  margin: 0;

  &:first-child {
    border-right: 1px solid @grey-light;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: @green-dark auto 2px;
  }

  @media (min-width: @tablet-width) {
    width: inherit;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
}

.reviews__link {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    right: 0;
  }
}

.reviews__link.button {
  @media (min-width: @tablet-width) {
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}
