.search {
  text-decoration: none;
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  position: relative;

  &:active {
    color: rgba(@black, 0.3);
  }

  &:focus .search__icon {
    outline: @focus auto 2px;
  }

  &:hover .search__icon {
    opacity: 1;
    fill: @green;
  }

  &:active .search__icon {
    opacity: 0.3;
    fill: @green;
  }
}

.search__icon {
  position: absolute;
  opacity: 0.2;
  left: 2px;
  top: 3px;
}

.search__text {
  margin: 0;
}
