.site-list__item {
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
    padding-right: 30px;
    padding-left: 30px;
    min-height: 79px;
    box-shadow: 0 1px 0 0 @grey-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    margin-right: 30px;
  }
}

.site-list__link {
  text-decoration: none;
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  display: block;

  @media (max-width: @mobile-width-only) {
    width: 260px;
    padding-left: 46px;
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}
