//COLORS
@black: #000000;
@white: #ffffff;
@green: #63D1BB;
@green-light: #62D1BA;
@green-dark: #56C3B2;
@grey: #F1F1F1;
@grey-dark: #444444;
@grey-light: #ECECEC;

//VIEW-PORTS
@tablet-width: 768px;
@desktop-width: 1150px;
